<!DOCTYPE html>

<head>
    <title>Главная страница</title>
    <link href="style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <h2>Добро пожаловать!</h2>

    <a href="/faculties">
        <button>Факультеты</button>
    </a>

    <a href="/departments">
        <button>Кафедры</button>
    </a>

    <a href="/educators">
        <button>Преподаватели</button>
    </a>

    <a href="/disciplines">
        <button>Дисциплины</button>
    </a>

    <a href="/groups">
        <button>Учебные группы</button>
    </a>

    <a href="/students">
        <button>Студенты</button>
    </a>

    <a href="/grades">
        <button>Экзамены и зачёты</button>
    </a>



</body>